{% extends 'usuarios/base_login.html' %}

{% block aba %}Cadastro{% endblock %}

{% block titulo %}Cadastro{% endblock %}



{% block conteudo %}
<h5 class="card-title text-center  col-md-0 mt-3 mb-3 font-weight-bold">Cadastro de Usuários</h5>

<!-- Aqui é para exibir a mensagem que o E-mail ou senha estão inválidos inválidos -->
{% if error_message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error_message }}
    </div>
{% endif %}
{% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
<div class="card-body">
    <form action="{% url 'cadastro' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" id="username" placeholder="Nome Completo" name="nome">
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="username" placeholder="Email" name="email">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="password" placeholder="Senha" name="senha" required>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-light text-uppercase fw-bold  custom-hover type="submit">Cadastrar-se</button>
        </div>
    </form>
</div>
{% endblock %}