{% extends 'usuarios/base.html' %}

{% block aba %}Editar Notas{% endblock %}

{% block titulo %}Editar Notas{% endblock %}

{% if error_message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error_message }}
    </div>
{% endif %}

{% block conteudo %}
<h3>Edição da nota selecionada</h3>
<p class="lead">Verifique as informações cadastradas e faça as devidas edições.</p>
<hr>
<form action="{% url 'editar' lista_notas.pk %}" method="POST">
    {% csrf_token %}
    <div class="form-register">
        <label for="userName">Nome:</label>
        <label for="Name" style="font-weight:bold;">{{ user.first_name }}</label>
    </div>
    <div class="form-register">
        <label for="disciplinaName">Disciplina:</label>
        <input type="text" id="disciplina" name="disciplina" value="{{ item }}">
    </div>
    <div class="update">
        <button type="submit" class="btn btn-success btn-sm">Atualizar</button>
        <a href="{% url 'alterar' %}" class="btn btn-danger btn-sm">Voltar</a>

    </div>
</form>

<style>
    form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%; /* Ajuste a largura conforme necessário */
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
    padding: 20px;
    background-color: #f9f9f9; /* Cor de fundo do formulário */
    border: 1px solid #ccc; /* Borda do formulário */
}

.form-register {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-register label {
    margin-right: 10px;
}

input[type="text"] {
    flex: 1;
}

</style>
{% endblock %}