{% extends 'usuarios/base.html' %}

{% block aba %}Criar lista{% endblock %}

{% block titulo %}<h3>Criar lista</h3>{% endblock %}

{% block conteudo %}
{% if error_message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error_message }}
    </div>
{% endif %}

{% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<style>
    form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%; /* Ajuste a largura conforme necessário */
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
    padding: 20px;
    background-color: #f9f9f9; /* Cor de fundo do formulário */
    border: 1px solid #ccc; /* Borda do formulário */
}

.form-register {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-register label {
    margin-right: 10px;
}

input[type="text"] {
    flex: 1;
}

</style>

<h2>Criação de lista</h2>
<p class="lead">Preencha o campo.</p>
<hr>

<form action="{% url 'lancar' %}" method="POST"> <!--EDITEI O FORMUALRIO, DEIXANDO APEANS UM CAMPO-->
    {% csrf_token %}
    <!--<div class="form-register">
        <label for="userName">Nome:</label>
        <label for="Name" style="font-weight:bold;">{{ user.first_name }}</label>
    </div>-->
    <div class="form-register">
        <label for="itemaName">Item: </label>
        <input type="text" id="itemaName" name="item">
    </div>
    <button type="submit" class="btn btn-success btn-sm">Salvar</button>

</form> <!--EDITEI O FORMUALRIO, DEIXANDO APEANS UM CAMPO-->
{% endblock %}
