{% extends 'usuarios/base.html' %}

{% load static %}

{% block aba %}Sobre{% endblock %}
{% block navbar %}
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:  #ff0000;">
        <div class="container px-5">
            <a class="navbar-brand" href="{% url 'home' %}">JK ATACADISTA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'home' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                        </svg>
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'sobre' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                        </svg>
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contato' %}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                          </svg>
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" aria-current="true" href="{% url 'perfil' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                          </svg> {{ user.email }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                    </svg></a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% if error_message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error_message }}
    </div>
{% endif %}

{% block titulo %}<h3>Sobre a JK Atacadista</h3>{% endblock %}

{% block conteudo %}

<style>
    .image-container img:hover {
        transition: transform 0.3s ease-in-out;
        transform: translateY(-10px) scale(1.1); /* Efeito de pular e aumentar na imagem */
    }    
    .text-justify {
        text-align: justify;
    }

    .spaced-bottom {
        margin-bottom: 50px;
    }
</style>

<div class="hero-section">
    <div class="container">
        <div class="hero-text ">
            <h1><div class="mx-auto text-center image-container"><a href="{% url 'home' %}"><img src="{% static 'img/jk_logo.png' %}" alt="Logo" height="300" width="300"></a></div></h1>
            <!-- About Section -->
            <div class="container">
                <div class="container mt-5">
                    <div id="sobre">
                        <h2 class="section-title">Nossa História</h2>
                        <p class="text-justify">Fundada em 2024 por Jônatas e Kleber, jovens desenvolvedores de software com uma visão inovadora,
                            a JK Atacadista é uma empresa emergente no ramo alimentício. Com a paixão por oferecer produtos
                            de qualidade e um compromisso inabalável com a excelência, Jônatas e Kleber transformaram suas
                            habilidades em tecnologia em uma plataforma sólida para o comércio atacadista.</p>
                        <hr class="my-4">
            
                        <h2 class="section-title">Nossa Missão</h2>
                        <p class="text-justify">Na JK Atacadista, nossa missão é fornecer uma ampla gama de produtos alimentícios com a melhor
                            qualidade e preço competitivo. Buscamos constantemente novas maneiras de atender às necessidades
                            de nossos clientes e parceiros comerciais, mantendo sempre um alto padrão de serviço e inovação.
                        </p>
            
                        <hr class="my-4">
                        <h2 class="section-title">Nossa Sede</h2>
                        <p class="text-justify">Estamos localizados em Porto Velho, na Avenida Governador Jorge Teixeira 3146 Setor - Industrial,
                            Porto Velho - RO, 76821-002, um local que simboliza o nosso compromisso com a comunidade e a
                            inovação. A proximidade com instituições educacionais e tecnológicas reforça nossa determinação
                            em integrar o conhecimento técnico ao nosso modelo de negócios, trazendo soluções eficientes e
                            modernas para o mercado.</p>
            
                        <hr class="my-4">
                        <h2 class="section-title">Nossos Fundadores</h2>
                        <p class="text-justify"><strong>Jônatas</strong> e <strong>Kleber</strong> são desenvolvedores de software que decidiram aplicar suas
                            experiências e habilidades no setor alimentício. Com um espírito empreendedor e uma visão clara
                            de futuro, eles têm liderado a JK Atacadista para se tornar um nome confiável no mercado
                            atacadista.</p>
                        <hr class="my-4">
                        <h2 class="section-title">Compromisso com a Qualidade</h2>
                        <p class="text-justify spaced-bottom">Na JK Atacadista, estamos comprometidos em oferecer produtos alimentícios que atendam aos mais
                            rigorosos padrões de qualidade e segurança. Nossa equipe trabalha incansavelmente para garantir
                            que cada produto em nosso portfólio passe por um processo de seleção criterioso e atenda às
                            expectativas de nossos clientes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}