{% extends 'usuarios/base.html' %}

{% block aba %}Visualização{% endblock %}

{% block titulo %}<h3>Visualização</h3>{% endblock %}

{% if error_message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error_message }}
    </div>
{% endif %}

{% block conteudo %}
<h3>Visualização de itens registrados</h3>
<hr>
<form action="{% url 'visualizar' %}" method="POST">
    {% csrf_token %}
    <div class="filter">
        <label for="itemaName">Filtrar por Item:</label>
        <select name="item">
            <option>Todos os itens</option>
            {% for campo in lista_item %}
                <option>{{ campo.item }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Itens cadastrado</th>
        </tr>
        {% for campo in lista_item %}
        <tr>
            <td>{{ campo.item }}</td>
        {% empty %}
        <tr>
            <td colspan="6">Nenhum registro encontrado.</td>
        </tr>
        {% endfor %}
    </table>
</div>
<hr>
{% endblock %}